{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "@babel/plugin-proposal-pipeline-operator",
      {
        "proposal": "minimal"
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-transform-react-jsx-source",
        [
          "@babel/plugin-proposal-pipeline-operator",
          {
            "proposal": "minimal"
          }
        ]
      ]
    }
  }
}
